body {
  font-family: Barlow;
  color: white;
  margin: 0px;
  background: url("../assets/bg-pattern.jpg") #383838;
  text-align: center;
}

.profile-img {
  display: inline-block;
  width: 100%;
  filter: url("#goo");
  transition: 0.3s;
}

.profile-img::before {
  content: "";
  display: block;
  padding-top: 86%;
  background: var(--b);
  filter: grayscale(100%);
  padding-top: 100%;
  clip-path: polygon(6% 25%, 50% 0, 94% 25%, 94% 75%, 50% 100%, 6% 75%);
}

.profile-img:hover {
  scale: 1.1;
}

.conteiner {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

header {
  margin: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  margin: 30px;
  width: 180px;
}

.tags {
  color: #b7b7b7;
  font-size: 16px;
}
.name {
  font-size: 25px;
}

.logo {
  font-size: 35px;
  color: #6fc24d;
  text-align: left;
}

.hashtag {
  color: white;
  font-size: 30px;
}

.search-input {
  width: 50%;
  min-width: 300px;
  height: 50px;
  border: none;
  border-bottom: 2px solid #6fc24d;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-size: 30px;
  background-color: rgb(0, 0, 0, 0);
  margin: 10px 0 60px 0;
}

.search-input:focus::-webkit-input-placeholder {
  transition: text-indent 0.8s 0.8s ease;
  text-indent: -100%;
  opacity: 1;
}

.search-input::placeholder {
  color: white;
  opacity: 1;
}

footer {
  margin: 50px;
  text-align: center;
}

.inline-link {
  color: #6fc24d;
  font-weight: bold;
}

.inline-link:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
}

.registration-button {
  border: 2px #6cc24a solid;
  font-size: 20px;
  color: white;
  padding: 5px 20px;
  background: #6fc24d;
  font-weight: 500;
  border-radius: 20px 0px 20px 0px;
  margin: 0;

  transition: border-radius 0.3s;
}

.registration-button:hover {
  border-radius: 0px 20px 0px 20px;
}

.registration-button:hover {
  background-color: #6cc24a;
}

.search-bar {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
}

.green-hashtag {
  color: #6cc24a;
}

@media only screen and (max-width: 800px) {
  .logo {
    text-align: center;
  }

  header {
    display: block;
    text-align: center;
  }

  .registration-button-container {
    padding: 0;
  }
}

.icons {
  display: flex;
  justify-content: center;
}

.icon-item {
  margin: 2px;
  width: 36px;
  height: 40px;
  background: url("https://topentol.sirv.com/geeker/footer/polygon-white.svg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-item:hover {
  background: url("https://topentol.sirv.com/geeker/footer/polygon-green.svg");
}

.icon-svg-path {
  fill: #333;
}

.icon-item:hover .icon-svg-path {
  fill: #d7d7d7;
}

.medium-icon {
  scale: 0.7;
}

.green-title {
  font-size: 35px;
  color: #6fc24d;
  text-align: center;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.telegram-group {
  margin: 30px;
  width: 100px;
}

.tg-logo {
  width: 100px;
  height: 100px;
  filter: grayscale(100%);
  border-radius: 15%;
}

.tg-name {
  font-size: 18px;
}
